<!DOCTYPE html>
<html>
<head>
  <title>MediumCupOfJoe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href="<%= image_url("favicon.ico") %>" type='image/x-icon'/ >

    <script type="text/javascript">
    window.mediumAssets = {
      firstImage: "<%= image_url("medium-cup-of-joe-logo--1-.png") %>",
      secondImage: "<%= image_url("Medium_image.png") %>",
      thirdImage: "<%=  image_url("user-icon.png")%>",
      fourthImage: "<%=  image_url("heart-open.png")%>",
      fifthImage: "<%=  image_url("heart-filled.png")%>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
